@charset"UTF-8";
body{
  font-family: 'Noto Sans JP';
  margin: 0px;
}

header{
  background-color: #456270;
  color: #ffffff;
  padding:1px;
  max-width: 1980px;
  margin-left: auto;
  margin-right: auto;
  ul{
    list-style-type: none;
    li{
      display: inline-block;
      margin: 2px 10px 2px 10px;
    }
    a{
      color: #ffffff;
      text-decoration: none;
    }
  }
}

main{
  margin-left: 50px;
  margin-right: 50px;
  h1{
    text-align: center;
  }
  p{
    display: inline-block;
    ul{
       list-style-type: none;
    }
  }
  .img1{
    display: inline-block;
  }
}

footer{
  background-color: #456270;
  padding: 2px;
  p{
    color: #ffffff;
    margin: 10px 50px 10px 50px;
  }
}
